<template>
    <div>
        <div class="heading">What type of property is being rented ?</div>
        <div class="rentaltype">
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'house' }"
                @click="selectImage('house')">
                <img :src="require('@/assets/Prac/house.png')" alt="House">
                <div class="content">House</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'apartment' }"
                @click="selectImage('apartment')">
                <img :src="require('@/assets/Prac/apartment.png')" alt="Apartment">
                <div class="content">Apartment</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'condo' }"
                @click="selectImage('condo')">
                <img :src="require('@/assets/Prac/condo.png')" alt="Condo">
                <div class="content">Condo</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'duplex' }"
                @click="selectImage('duplex')">
                <img :src="require('@/assets/Prac/duplex.png')" alt="Duplex">
                <div class="content">Duplex</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'mobile' }"
                @click="selectImage('mobile')">
                <img :src="require('@/assets/Prac/mobile.png')" alt="Mobile">
                <div class="content">Mobile Home</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'room' }"
                @click="selectImage('room')">
                <img :src="require('@/assets/Prac/room.png')" alt="Room">
                <div class="content">Room</div>
            </div>
            <div class="image-container"
                :class="{ 'selected': selectedImage === 'other' }"
                @click="selectImage('other')">
                <img :src="require('@/assets/Prac/other.png')" alt="Other">
                <div class="content">Other</div>
            </div>
        </div>
<div>
   <router-link to='/propertylocation'> <button class="first-save">
       SAVE & CONTINUE
    </button></router-link>
    <a href="#" class="first-skip">
        Skip this step for now
    </a>
</div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            selectedImage: 'house'
        };
    },
    methods: {
        selectImage(image) {
            this.selectedImage = image;
        },
    }
};
</script>

<style scoped>
.first-save {
    background: #616195;
    color: white;
    border: none;
    margin: 20px;
    padding: 13px 34px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 200px;
}
.first-skip {
    color: #616195;
    text-decoration: none;
    margin-left: 6px;
}

.heading {
    margin: 40px;
    font-size: 28px;
    margin-left: 213px;
}

.rentaltype {
    display: flex;
    flex-wrap: wrap;
    margin-left: 172px;
    margin-right: 100px;
}

.image-container {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    margin: 33px;
    padding: 9px;
    margin-top: 0;
    text-align: center;
    height: 150px;
    width: 150px;}

.image-container:hover{
background-color: #f7f4f4;
}
.image-container.selected {
    border-color:  #505087; 
    border-width: 4px;
}


.image-container img {
    width: 100px;
    height: 100px;
}

.content {
    margin-top: 15px; /* Adjust margin top as needed */
}
</style>
