<template>
    <div>
        <div class="leftdiv">
            <div class="left-div-top">
<i>Last Updated July 28, 2023 </i><br>
Written by  <a href="#" class="author-link">keerthana</a><br>
Reviewed by  <a href="#" class="author-link">Zack Dean</a> | Fact checked by  <a href="#" class="author-link">Zack Dean</a>
            </div>
           <div class="content-footer">
             <div class="left-div-down">
                <div class="left-div-Questions">What is a Residential Rental Agreement?</div>
                <p> A Residential Rental Agreement is an agreement that outlines the terms and conditions of a tenancy, including the rights and obligations of the landlord and tenant.</p>
                <p> ou can use a Residential Rental Agreement to rent out various types of residential properties, including bungalows, flats, rooms, row houses, etc.</p>
                 A Residential Rental Agreement is also known as a:
                <ul class="lists-home">
                    <li>Lease</li>
                    <li>Rental contract</li>
                    <li>Rental agreement</li>
                    <li>Tenancy agreement</li>
                    <li>Residential tenancy agreement</li>
                </ul>
                <div>If you are looking to rent commercial property,use<a href="#" class="author-link">LawDepot's Commercial Rental Agreement</a>.</div>
                <div class="left-div-Questions"> Does a Rental Agreement need to be notarised in India?</div>
                <br>You don’t need to notarise a Rental Agreement in India.<br>
                 <div class="left-div-Questions">How do I write a Residential Rental Agreement in India?</div>
                 <p>You can easily create a Residential Rental Agreement by completing LawDepot’s questionnaire. Using our template ensures you complete the following necessary steps.</p>
                 <div class="questions">1. State the type of property</div> 
                <p>Start your Rental Agreement by selecting the type of rental property, such as a:</p>
                <ul class="lists-home"><li>Bungalow</li><li>Flat</li><li>Room</li><li>Row house</li></ul>
                <div class="questions">2. Set the length of the Rental Agreement</div>
                <p>State when the Rental Agreement will start and end. You can choose to create a fixed-term lease or an automatic renewal lease.</p>
                <b>Fixed-term</b>
                <p>A rental agreement with a fixed-term ends on a set date. It can benefit both the landlord and tenant because the terms and conditions stay the same for the duration of the agreement.</p>
                <p>The landlord doesn't have to worry about the tenant breaking the lease early because the tenant is responsible for paying rent for the entire length of the agreement. On the other hand, the tenant doesn't have to worry about the rent increasing in price.</p>
                <b>Automatic renewal</b>
                <p>If you don't know when the agreement will come to an end, you can select this option. The Rental Agreement will automatically renew every month, 11 months, or yearly. This agreement will continue until one of the parties terminates it.</p>
                <p>To terminate the agreement, the landlord or tenant needs to provide a notice of their intention to leave as required by law. If the tenant doesn't move out at the end of the notice period, the landlord can provide them with an eviction notice.</p>
                <p>Automatic renewal also gives the landlord the right to raise the rent or change the terms of the agreement as long as they provide the tenant with proper notice as required by law.</p>
                <div  class="questions">3. Outline details about the property</div>
                <p>Provide as many details as you have available in your Rental Agreement, including the property’s address and whether the property is furnished.</p>
                <p>If possible, attach photos of the property and include any additional details relevant to the agreement.</p>
                <div  class="questions">4. Provide the parties’ information</div>
                <p>Provide the names and contact details of all the parties involved in the Rental Agreement:</p>
                <ul class="lists-home">
                    <li><b>Landlord:</b> The person or company who owns the property and allows the use of the space in exchange for rent.</li>
                    <li><b>Tenant:</b> The person who signs the Rental Agreement and is responsible for paying rent.</li>
                    <li><b>Occupants:</b> The people who live on the property but haven’t signed the rental agreement, such as friends or family members of the tenant.</li>
                    <li><b>Guarantor</b> (if applicable): The person liable to the landlord for any breach of the agreement by the tenant. They can’t be a tenant.</li>
                    <li><b>Property manager</b> (if applicable): The person who deals with the tenant and manages the rental property on behalf of the landlord, typically in return for a fee.</li>
                </ul>
                <div class="left-div-Questions">5. Decide on a method for rent payments</div>
                <p>Decide on important rent details like:</p>
                <ul class="lists-home">
                    <li>The price of rent</li>
                    <li>When rent is due</li>
                    <li>How the tenant will pay (e.g., cash, cheque, bank deposit)</li>
                    <li>States and territories have different laws about rent control, and some may have differing regulations for the cities within them.</li>
                    <li>Different states may also have different rules about charging fair rent, which is the amount of money a tenant can expect to pay to rent a property. You should ensure that you know the rules about fair rent in your area to determine how much you can charge.</li>
                </ul>
                <div class="left-div-Questions">6. State if pets or smoking is permitted</div>
                <p>Landlords will have differing policies on allowing pets or smoking inside the property. It’s a good idea to discuss these topics before entering into a Rental Agreement.</p>
                <div class="left-div-Questions">7. Provide rental deposit details</div>
                <p>A rental deposit is a sum of money the tenant pays to the landlord to guarantee that the tenant will fulfil their obligations under the Rental Agreement.</p>
                <p>The landlord can use the deposit to fix any damage that occurs during the tenant's occupancy. However, the deposit doesn't cover normal wear and tear. At the end of the agreement, if there is no damage to the property, the landlord must return the deposit to the tenant.</p>
                <p>Before you add a rental deposit, you should ensure that landlords can hold rental deposits in your state or territory.</p>
                <div class="left-div-Questions">8. State the amount of notice the landlord needs to provide to enter the property</div>
                <p>The landlord doesn’t have the right to enter the property unless there’s an emergency. However, the landlord may enter the property if he or she provides reasonable notice to the tenant. A written notice of 24 to 48 hours explaining when and why the landlord will enter the property is typically reasonable for non-emergencies. You can specify how much of a notice the landlord must provide the tenant in the Rental Agreement.</p>
                <div class="left-div-Questions">9. State the amount of notice needed to terminate the agreement</div>
                <p>State in the questionnaire how many days notice the landlord needs to give the tenant before they can terminate the Rental Agreement.</p>
                <div class="left-div-Questions">10. Outline who will pay for services and amenities</div>
                <p>There are instances where the price of rent will include some services and amenities. The landlord and tenant should discuss which additional charges are the tenant’s responsibility.</p>
                Additional charges can include:
                <ul class="lists-home">
                    <li>Electricity</li><li>Water</li><li>Sanitation</li><li>Drainage</li><li>Air conditioning</li><li>Additional storage space</li><li>Other charges</li>
                </ul>
                <p>Different states and union territories have varying rules about what a landlord can charge a tenant as an additional charge. You should ensure that you are permitted by the law to add additional charges to your Rental Agreement.</p>
                <div class="left-div-Questions">11. Outline improvements that need to be made to the property</div>
                <p>Landlord improvements are enhancements to the property made by the landlord. They can include something as simple as putting on a new coat of paint to complex renovations. They typically occur before the tenant moves in.</p>
                <div class="left-div-Questions">12. State if there will be a walkthrough inspection</div>
                <p>An inspection report is a written record of any existing damage observed during a walkthrough of the property by the tenant and landlord.</p>
                <p>Most landlords will want to conduct a walkthrough inspection at the beginning and end of the Rental Agreement to record the property’s condition.</p>
                <div class="left-div-Questions">13. Outline any additional clauses</div>
                <p>If there are any terms or conditions unique to your situation that the questionnaire didn't address, you can include them here.</p>
                <div class="left-div-Questions">14. Provide the signing details</div>
                <p>Provide the date the landlord and tenant will sign the Rental Agreement.</p>
                <p>LawDepot’s questionnaire gives you the option to include space to print your document on stamp paper. Your Rental Agreement may be required to be printed on stamp paper. Check with your local authority to confirm.</p>
                <div class="left-div-Questions">Why is a Rental Agreement important?</div>
                <p>Rental Agreements come with a lot of advantages for the landlord and tenant.</p>
                <div class="left-div-Questions">For the landlord</div>
                <p>A Rental Agreement gives a landlord leverage when seeking reimbursement for any damage done to the property or appliances while the tenant occupies the property.</p>
                <p>The landlord also needs a Rental Agreement to penalize the tenant for late rent payments since the document outlines the terms for penalties and additional charges.</p>
                <div class="left-div-Questions">For the tenant</div>
                <p>Without a Rental Agreement, the landlord may have the right to evict the tenant by providing a minimum of 30 days' notice. It would be more difficult for a tenant to fight the eviction in court without the proof of residency that the Rental Agreement provides.</p>
                <p>A fixed-term Rental Agreement also prevents the landlord the ability to raise the rent for the duration of the agreement.</p>
                <p>It may be a good idea to look up your state or territory’s rent control laws for more specifics. For example, a person interested in renting a property in Bangalore should look to the Karnataka Rent Control Act, 2001, while someone in Hyderabad should look to The Telangana Buildings (Lease, Rent and Eviction) Control Act, 1960.</p>
                <div class="left-div-Questions">Related Documents:</div>
                <p><a href="#" class="author-link">Residential Rental Application:</a> Collect information to screen potential tenants for a rental property.</p>
                 <p><a href="#" class="author-link">Commercial Rental Agreement:</a> Lease a commercial space to a business tenant and include details about the rights, duties, and responsibilities of the landlord and tenant.</p>
            </div>
            <div class="right-div-container">
                  <div class="right-div">
                  <div class="content">
                   Create your free Residential Rental Agreement in 5-10 minutes or less
            </div>
            <div class="button-container">
                   <button class="get-started">GET STARTED</button>
            </div>
            </div>
            </div>
           </div>
        </div>
      
    </div>
</template>
<style scoped>
.right-div-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px; 
    text-align: center;
    height: 200px;
    width: 250px;
    margin-left: 150px
}

.content {
    margin-bottom: 31px;
    font-size: 23px;
    margin-top: 10px;
    color: black
}

.get-started {
    background: rgba(100, 173, 125, 1);
  border: none;
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
}
.content-footer{
    display: flex;
    flex-direction: row;
}
.leftdiv{
    color: #72818B;
    margin-left: 300px;
}
.questions{
    color: #333333;
}
.left-div-top{
    font-size: 15px;
    margin-top: 60px;
    
}
.lists-home li{
    margin-bottom: 15px;
}
.left-div-down{
    width: 550px;
    font-size: 20px;
}
.left-div-Questions{
    color: #333333;
    margin-top: 30px;
    font-size: 30px;
}
.author-link {
    color:rgba(69, 72, 87, 1);
    text-decoration: none;
}
.author-link:hover{
      color:rgb(45, 47, 57);
      font-weight: 540;
}
</style>