<template>
    <div>
        <HomeOne/>
        <HomeTwo/>
        <HomeThree/>

    </div>
</template>
<script>
import HomeOne from '../components/homepage/HomeOne.vue';
import HomeTwo from '../components/homepage/HomeTwo.vue'
import HomeThree from '../components/homepage/HomeThree.vue'

export default {
    components:{
        HomeOne,
        HomeTwo,
        HomeThree
    }
}
</script>