<template>
  <div>
    <div class="container">
      <div class="content">
        <p>Additional Clauses</p>
        <div class="p">
          <p>Do you want to include any additional terms or information?</p>
        </div><br>
        <div class="buttons">
          <button @click="showCard(true)" :class="{ selected : showCard1 }" type="button" class="btn btn-light1">YES</button>
          <button @click="showCard(false)" :class="{ selected : !showCard1 }" type="button" class="btn btn-light1">NO</button>
        </div>
      </div>
      <div v-if="showCard1" class="card1">
        <div class="p">
          <p>Additional Clause</p>
        </div>
        <div class="text-area">
          <textarea id="description" rows="15" cols="50" v-model="description"></textarea>
        </div>
      </div>
      <p v-if="showCard1" style="color:#616195; font-size:25px; margin-left:180px; margin-top:30px;" @click="addAnotherClause">
        +Add Another Clause
      </p>
      <div v-for="(clause, index) in additionalClauses" :key="index" class="card1">
        <div class="p">
          <p>Additional Clause</p>
          <!-- Remove symbol to remove the specific clause -->
          <span @click="removeClause(index)" class="remove-symbol">✖</span>
        </div>
        <div class="text-area">
          <textarea v-model="additionalClauses[index].description" rows="4" cols="50"></textarea>
        </div>
      </div>
      <div class="button-container">
<router-link to="/MiscellaneousInfo">
          <button type="button" class="btn btn-light">BACK</button>
</router-link>
<router-link to="/SigningDetails">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/SigningDetails">
         <p>Skip this step for now</p>
</router-link>
      </div>
<div class="card">
    <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">When should I include an additional clause?</div>
            <div class="tooltip-content">
                You should include an additional clause if there are any terms or issues unique to your situation that have not been addressed in the questionnaire.
            </div>
        </div>
        <div class="faq">
            <div class="question">How should I write my clause?</div>
            <div class="tooltip-content">
               In order to reduce confusion, write your clauses with plain language and limit them to one paragraph in length. Also, use any predefined terms such as Tenant, Property, Landlord, etc. in your clauses.
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showCard1: false,
      description: '',
      additionalClauses: [],
    };
  },
  methods: {
    showCard(option) {
      this.showCard1 = option;
    },
    addAnotherClause() {
      // Add an empty clause to additionalClauses array
      this.additionalClauses.push({ description: '' });
    },
    removeClause(index) {
      // Remove the specific clause from additionalClauses array
      this.additionalClauses.splice(index, 1);
    },
  },
};
</script>


<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; /* Adjust as needed */
    margin-left: 120px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    width: 300px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; /* Adjust as needed */
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; /* Adjust as needed */
    position: relative; /* Needed for absolute positioning */
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}

.container {
    padding:30px;
    font-family: 'Inter', sans-serif;
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
    color:#333333;
    font-size:30px;
}
.content p{
    margin-bottom:-12px;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1000px;
    position:absolute;
    top:400px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 250px; 
    height:38px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:15px;
    font-size:15px;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    color:#333333;
    font-size:18px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .card1 {
    position: relative;
    width: 450px;
    height: 350px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:200px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .text-area{
    margin-left:0px;
  }
  .remove-symbol {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left:350px;
    margin-top:-50px;
  }

  .buttons button.selected {
    border: 4px solid #616195;
  }



</style>