<template>
    <div>
        <div class="container">
          <p>
            Contact Address
        </p>
        <div class="content">
        </div><br>
            <div >
               <p>Landlord's Address for Notices</p>
            </div>
            <div class="group">
                <label for="address1">Landlord's Address</label>
                <input required="" type="text" id="address1" class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <p>e.g. Street Address, Locality, City/Town, State, PIN Code</p>
            </div>
          <div class="total">
            <p>Will the tenant pay rent to the above address?</p>
            <div class="buttons">
                <button @click="handleButtonClick(true)" :class="{ selected: showAddressGroup }"  type="button">YES</button>
                <button @click="handleButtonClick(false)" :class="{ selected: !showAddressGroup }" type="button">NO</button>
        </div>
      </div>
      <div v-if="!showAddressGroup" class="group">
        <label for="address2">Address to pay rent:</label>
        <input required="" type="text" id="address2" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <p>e.g. Street Address, Locality, City/Town, State, PIN Code</p>
    </div>
          <div class="contact">
           <p> Include an address for sending the tenant important notices after the lease ends?</p>
        </div>
        <div class="button">
            <button @click="handleButtonClick(true)" :class="{ selected: showAddressGroup }">
              <img src="../assets/Prac/Yes.png" />
              <p>
                    Yes
                </p>
            </button><br>
            <button @click="handleButtonClick(false)" :class="{ selected: !showAddressGroup }">
              <img src="../assets/Prac/Tennat.png" />
              <p>
                    No, the tenant will provide later
                </p>
            </button>
        </div>
      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">What is the address for notice?</div>
            <div class="tooltip-content">
           The address for notice is where the other party can send notices both during and after the rental is over.
<br><br>
During the term of the rental, the tenant's address for service is at the address of the leased property. The tenant needs to provide an address that the landlord can send notices after the tenancy is over. The landlord and tenant can change their address at any time.
            </div>
      </div>
      </div>
      </div>
      <div v-if="showAddressGroup" class="contact">
      <p>Tenant Address for Notices After Rental?</p>
    </div>
      <div v-if="showAddressGroup" class="group">
        <label for="address2">Tenant address:</label>
        <input required="" type="text" id="address2" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <p>e.g. Street Address, Locality, City/Town, State, PIN Code</p>
    </div>
  <div class="button-container">
<router-link to="/ImprovementInfo">
          <button type="button" class="btn btn-light">BACK</button>
</router-link>
<router-link to="/MiscellaneousInfo">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/MiscellaneousInfo">
         <p>Skip this step for now</p>
</router-link>
  </div>
      </div>
</div>
</template>

<script scoped> 
export default{
    data() {
    return {
      textInput: '' ,
      showAddressGroup: false,
    };
  },
  methods: {
    handleButtonClick(option) {
      // Update the showAddressGroup option
      this.showAddressGroup = option;
    },
  },

}
</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.container {
    padding:30px;
    font-family: 'Inter', sans-serif;

}
.container p{
  margin-left:190px;
  color:#333333;
  font-size:30px;
}
.content{
    line-height: 40px;
    margin-left:180px;
   
    margin-top:-40px;
 
}
.content p{
   margin-top:10px;
    font-size:20px;
    color:#4d4d4d;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  
/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
    margin-left:10px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    margin-left:180px;
  }
  .card1 {
    position: relative;
    width: 520px;
    height: 200px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:200px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    
  }
  
 
.card {
    width: 310px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1000px;
    position:absolute;
    top:450px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .group {
    position: relative;
    margin-left:192px;
    margin-top:20px;
    font-size:20px;
    color:#4d4d4d;
   }
   .group p{
    font-size:16px;
    color:#333333;
    font-style: italic;
    margin-left:0px;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for phone,email,name{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
   
   .bar {
    position: relative;
    display: block;
    width: 550px;
   }
  .p{
    margin-left:-300px;
    line-height: 40px;
  }
  .contact{
    margin-left:180px;
    font-size:22px;
  }
  .contact p{
    font-size:22px;
    margin-left:0px;
  }
  .button {
    display: flex;
    flex-direction: column; 
    margin-top:20px;
  }
  
  .button button {
    margin-bottom: 10px;
    display:flex;
    padding:10px; 
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #f4efef;
    margin-left:180px;
  }
  .button button img {
    height:50px;
    width:50px;
  }
  .button p{
    margin-top:8px;
    margin-left:20px;
    font-size:22px;
    color:#4d4d4d;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 110px; 
    height: 35px; 
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .total{
    margin-left:180px;
  }
  .total p{
    margin-left:0px;
    font-size:22px;
    color:#333333;
  }
                
  .buttons button.selected {
    border: 4px solid #616195;
  }

</style>