<template>
    <div>
        <div class="container">
          <p>
            Landlords Improvements
        </p>
        <div class="content">
          
            <div class="p">
                <p>Is the landlord required to make improvements to the property?</p>
            </div><br>
            <div class="buttons">
                <button  @click="handleButtonClick(true)" :class="{ selected: showTextArea }" type="button" class="btn btn-light1">YES</button>
                <button  @click="handleButtonClick(false)" :class="{ selected: !showTextArea }"  type="button" class="btn btn-light1">NO</button>
            </div>
        </div>
        <div v-if="showTextArea" class="text-area">
          <label for="description">Describe the requires landlord improvements:</label><br>
          <textarea id="description" rows="4" cols="50" v-model="description"></textarea>
          <p>(e.g The Landlord will replace the front door before the Tenant takes possession of the Property.)</p>
        </div>
       
  <div class="button-container">
<router-link to="/AdditionalCharges">
          <button type="button" class="btn btn-light">BACK</button>
</router-link>
<router-link to="/ContactDetails">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/ContactDetails">
         <p>Skip this step for now</p>
</router-link>
  </div>
      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">What are landlord improvements?</div>
            <div class="tooltip-content">
            Landlord improvements are extra work done to the property by the landlord that enhances the property usually before the tenant moves in. It can include something simple like putting on a new coat of paint to complex renovations of the property.
            </div>
      </div>
      </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      showTextArea: false, // Track whether to show the text area
      description: '', // Data property to store the textarea content
    };
  },
  methods: {
    handleButtonClick(option) {
      // Update the showTextArea option
      this.showTextArea = option;
    },
  },

};

</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.container {
    padding:30px;
    font-family: 'Inter', sans-serif;
}
.container p{
  margin-left:190px;
  font-size:30px;
  color:#333333;
  
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
    color:rgb(77, 119, 14);
}
.content p{
    margin-bottom:-12px;
    margin-left:0px;
    font-size:22px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color:#616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 310px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1050px;
    position:absolute;
    top:400px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 250px; 
    height:38px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:15px;
    font-size:15px;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .text-area{
    margin-left:200px;
    width:400px;
    height:100px;
  }
  .text-area p{
    font-style: italic;
    font-size:15px;
    color:#4d4d4d;
    margin-left:0;
  }
  .buttons button.selected {
    border: 4px solid #616195;
  }


</style>