<template>
    <div>
        <div class="container">
        <div class="content">
            <p>
                <b>Miscellaneous</b>
            </p>
        <div class="button">
            <p> 
              Will a walkthrough inspection report be completed at the start and the end of the rental?</p>
    <button>
      <img src="../assets/Prac/DonotSpecify.png"/>
        <p>
            Do not specify
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/Yes.png"/>
        <p>
            Yes
        </p>
    </button><br>
    <button>
      <img src="../assets/Prac/No.png"/>
        <p>
            No
        </p>
    </button>
</div>
</div>



  <div class="button-container">

<router-link to="/ContactDetails">
          <button type="button" class="btn btn-light">BACK</button>
</router-link>
<router-link to="/AdditionalClauses">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/AdditionalClauses">
         <p>Skip this step for now</p>
</router-link>

  </div>
      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">What is an inspection report?</div>
            <div class="tooltip-content">
          An inspection report is a written record of any existing damage observed during a walkthrough of the property by the tenant and landlord. Inspection reports should be completed at the beginning and at the end of the tenancy.
            </div>
      </div>
      </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{

}

</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.container {
    padding:80px;
    font-family: 'Inter', sans-serif;
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
    color:rgb(77, 119, 14);
}
.content p{
    margin-bottom:-12px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color:#616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:1000px;
    position:absolute;
    top:500px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
    margin-top:40px;
  }
  
  .button button {
    display:flex;
    padding:10px;
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
    margin-top:20px;
  }
  .button p{
    margin-top:15px;
    margin-left:10px;
    font-size:20px;
    color:#333333;
    margin-bottom:10px;
  }
  .button button img{
    height:50px;
    width:50px;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .container2{
    margin-left:200px;
  }
  .container2 p{
    margin-top:10px;
  }


</style>