<template>
    <div>
        <div class="container">
        <div class="content">
            <p>
                Property Location
            </p>
        </div>
        <div class="content-down"> Where is the rental property located?</div>
    
    <div class="card">
    <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">Why is customising the rental agreement according to location important?</div>
            <div class="tooltip-content">
                 Customising the rental agreement to account for location allows you to have a stronger legal contract since each jurisdiction has their own set of rules and regulations. <br>
                  While LawDepot makes every effort to offer suggestions and guidelines to assist you in creating your agreement, ultimately it is your responsibility to ensure that you comply with all the requirements of your jurisdiction, including any local or municipal laws
           </div>
            </div>
    </div>
</div>


      </div>
       <div class="location">
          <select v-model="selectedState" @change="updateBuiltFor" class="custom-select">
            <option v-for="state in states" :key="state" :value="state">{{ state }}</option>
          </select>
      
          <div >
            <p></p>
          </div>
        </div>
        <faIcon icon="fa-solid fa-caret-down" />
        <div class="content-1" v-if="selectedState">
            <p>
                <b>Built for {{ selectedState }}</b>
                <br>
                Different states and union territories have different rules and<br>
                regulations. Your Residential Rental Agreement will be customised<br>
                for Goa.
            </p>
        </div>
        <div class="button-container">
            <router-link to="/"><button type="button" class="btn btn-light">BACK</button></router-link>
            <router-link to='/RentalDetails'> 
              <button type="button" class="btn btn-success">
                SAVE & CONTINUE  
            </button></router-link>
      
            <p>Skip this step for now</p>
       </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      selectedState: '',
      states: [
        'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
        'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
        'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
        'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
        'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
        'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'
      ]
    };
  },
  methods: {
    updateBuiltFor() {
    
    }
  }
};
</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; /* Adjust as needed */
    margin-left: 120px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    width: 500px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; /* Adjust as needed */
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; /* Adjust as needed */
    position: relative; /* Needed for absolute positioning */
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}

.container {
    font-family: 'Inter', sans-serif;
      margin-left:216px;
}
.content{
    line-height: 40px;
    color: black;
    font-size:30px;

}
.content-down{
  color: #88ABAC;
  margin-bottom: 40px;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid#616195;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color:rgb(96, 151, 13);
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #616195;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  .content-1{
    line-height: 25px;
    margin-left:214px;
    color:#616195;
    font-size: 18px;
}
.content-1 b{
   font-size: 18px;
   line-height: 20px;
}
.button-container {
    display: flex;
    gap: 8px;
    margin-left:210px; 
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
  }
  
  .btn-success {
    background-color:#616195;
    color: #fff;
  }

.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:780px;
    position:absolute;
    top:350px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: none;
    line-height: 1.6;
}
    
  
  .card-link:hover {
    text-decoration: underline;
  }
  .location{
    margin-left:214px;
  }
  .custom-select {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

</style>