<template>
    <div>
        <div class="container">
        <div class="content">
            <p>
                <b>Property Address</b>
                <br>
                Rental Property Address
            </p>
        </div>
        <div class="group">
          <input required="" type="text" id="name" class="input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <p>e.g. Street Address, Locality, City/Town, State, PIN Code</p>
      </div>
       <div class="total">
       <div class="end">
        <p>Will photos of the property be attached to the final document?</p>
        <div class="buttons">
          <button type="button" class="btn btn-light1" :class="{ selected: tenantMoveInBeforeLease1  }">YES</button>
          <button type="button" class="btn btn-light1" :class="{ selected: !tenantMoveInBeforeLease1 }">NO</button>
        </div>
        <p>Would you like to provide additional details about the property?</p>
        <div class="buttons">
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease(true)" :class="{ selected: tenantMoveInBeforeLease  }">YES</button>
          <button type="button" class="btn btn-light1"  @click="setTenantMoveInBeforeLease(false)" :class="{ selected: !tenantMoveInBeforeLease }">NO</button>
        </div>
    </div>
  </div>
  <div class="p" v-if="tenantMoveInBeforeLease">
  <p>Other details described about the property?</p><br>
  </div>
  <div class="text" v-if="tenantMoveInBeforeLease">
        <textarea v-model="textInput" ></textarea>
  </div>
  <div class="button-container">
    <router-link to="/RentalDetails">
      <button type="button" class="btn btn-light">BACK</button>
    </router-link>
      <router-link to="/PropertyDetails">    
    <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
    </button>
      </router-link>
    <p>Skip this step for now</p>
  </div>

      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">Can I save my answers and return later?</div>
            <div class="tooltip-content">
                Yes, you can return at any time to continue your progress. <br>

Just login with your username and password and you can complete the questionnaire at your convenience from any computer.
            </div>
      </div>
      </div>
      </div>

      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      // ... (your existing data properties)
      tenantMoveInBeforeLease: false,
      tenantMoveInBeforeLease1: false,
      textInput: '',
    };
  },

  methods: {

    setTenantMoveInBeforeLease(choice) {
      this.tenantMoveInBeforeLease = choice;
    },
    setTenantMoveInBeforeLease1(choice) {
      this.tenantMoveInBeforeLease = choice;
    },
  },
  
};
</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}

.container {
    padding:80px;
    font-family: 'Inter', sans-serif;
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
    color:rgb(77, 119, 14);
}
.content p{
    margin-bottom:-12px;
    font-size:30px;
    color:black;
}
.content b{
   color:black;
   font-size: 25px;
   line-height: 20px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color:rgb(96, 151, 13);
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(96, 151, 13);
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  .total p{
    color:#333333;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    min-height:55px;
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    margin-left:180px;
    font-size:20px;
    color:#333333;
  }
 .text{
  margin-left:200px;

 }
 .text textarea{
  width: 450px;
  height: 145px;
  padding: 15px 30px 15px 15px;
  border: 1px solid #e6e7e8;
  margin: 10px 0 25px 0;
  overflow: auto;
 }
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:850px;
    position:absolute;
    top:400px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .group {
    position: relative;
    margin-left:192px;
    margin-top:-10px;
   }
   .group p{
    color:#333333;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   .group p{
    font-style:italic;
   }
   .end p{
    font-size:22px;
    color:#333333;
   }
   .selected {
    border: 4px solid #616195;
  }
  
   

</style>