<template>
    <div>
        <div class="container">
        <div class="content">
            <p>Property Details</p>
        </div>
        
         <p class="para"> Is this property furnitured?</p>
        
        <div class="button">
            <button :class="{ 'selected': selectedbutton === 'donotdistrub' }"
            @click="selectbutton('donotdistrub')">
                <img :src="require('@/assets/Prac/DonotSpecify.png')" alt="donotdistrub">
                <p>
                    Do Not specify
                </p>
            </button><br>
            <button>
                <img :src="require('@/assets/Prac/Unfurnitured.png')" alt="Unfurnitured">

                <p>
                    Unfurnitured
                </p>
            </button><br>
            <button  @click="handleButtonClick('Partially Furnitured')">
                <img :src="require('@/assets/Prac/Furnitured.png')" alt="Furnitured">

                <p>
                    Partially furnitured
                </p>
            </button><br>
            <button>
                <img :src="require('@/assets/Prac/Furnitured.png')" alt="Furnitured">

                <p>
                    Furnitured
                </p>
            </button><br>
            <button  @click="handleButtonClick('Furnitured include a description')">
                <img :src="require('@/assets/Prac/Furnitured,desc.png')" alt="Furnitured include a description">
                <p>
                    Furnitured include a description
                </p>
            </button>
        </div>
        <div v-if="showTextArea" class="text-area">
          <label for="description" style="margin-bottom:20px">Description of furnished items:</label><br>
          <textarea id="description" rows="8" cols="55" v-model="description"></textarea>
        </div>
        
        <div class="button-container">
            <router-link to="/RentalDetails"><button type="button" class="btn btn-light">BACK</button></router-link>
            <router-link to='/Landlordinfo'> 
              <button type="button" class="btn btn-success">
                SAVE & CONTINUE  
            </button></router-link>
      
            <p>Skip this step for now</p>
       </div>

      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">What are furnishings?</div>
            <div class="tooltip-content">
              Furnishings are furniture, appliances and other movable items such as curtains or carpets which add to the comfort and convenience of the property.
            </div>
      </div>
      </div>
      </div>

      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
       selectedbutton:'donotdistrub',
      showTextArea: false, // Initial state of text area visibility
      description: '' // Data property to bind with the text area value
    };
  },
  methods: {
    handleButtonClick(buttonType) {
      if (buttonType === 'Partially Furnitured' || buttonType === 'Furnitured include a description') {
        this.showTextArea = true;
      } else {
        this.showTextArea = false;
      }
    },
     selectbutton(image) {
            this.selectedImage = image;
        },
  }

};
</script>

<style scoped>

.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 500px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.button button img {
  width: 50px; 
  height: 50px;
  margin-left: 20px;
 
}
.para{
    margin-left: 215px;
    font-size: 20px;
    color: #333333;

}
.container {
    font-family: 'Inter', sans-serif;
     color:black;
}
.content{
    line-height: 40px;
    margin-left:215px;
    color:rgb(17, 18, 16);
    font-size: 30px;
}

/* styles.css */
.button-container {
    display: flex;
    gap: 8px;
    margin: 45px;
    margin-left: 33px;
  }
  .button-container p{
    color:#616195;
  }
.btn {
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
  }
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:850px;
    position:absolute;
    top:400px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .button {
    display: flex;
    flex-direction: column;
    
  }
  
  .button button {
     display: flex; 
     align-items: center; 
    margin-bottom: -2px;
    width: 390px;
    height: 80px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-left: 213px;
  }
  .button p{
    margin-top:20px;
    margin-left: 20px;
    font-size: 20px;
    color: #333333
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .text-area{
    margin-left: 215px;
    margin-top: 20px;
    font-size: 20px;
    color: #333333;
    line-height: 2.6;
  }
  
</style>