<template>
    <div>
        <div class="container">
          <div class="p">
            <p>
                Rent
            </p>
          </div>
        <div class="content">
                <p>How often will the tenant pay rent?</p>
            <br>
        <div class="button">
            
            <button @click="updateRentFrequency('Weekly')">
              <img src="../assets/Prac/weekly.png" />
              <p>
                    Weekly
                </p>
            </button><br>
            <button @click="updateRentFrequency('Every 2 weeks')">
              <img src="../assets/Prac/2 weeks.png" />
              <p>
                    Every 2 weeks
                </p>
            </button><br>
            <button @click="updateRentFrequency('Monthly')">
              <img src="../assets/Prac/Month.png" />
              <p>
                    Monthly
                </p>
            </button><br>
            <button @click="updateRentFrequency('Annually')">
              <img src="../assets/Prac/Year.png" />
              <p>
                    Annually
                </p>
            </button>
        </div>
        </div>
   
  <div class="group">
    <label for="rent">{{ rentLabel }}::</label>
    <input required="" type="text" id="rent" class="input">
    <span class="highlight"></span>
    <span class="bar"></span>
</div>

<div class="group">
    <label for="email">What day of the month will payment be made?</label>
    <input required="" type="text" id="month" class="input">
    <span class="highlight"></span>
    <span class="bar"></span>
    <p>eg. First,Fifteen</p>
</div>
<div class="check">
    <p>How will the tenant pay rent?</p>
</div>
<div class="checkbox-group">
  <label class="checkbox-item">
    <input type="checkbox" name="paymentOption" value="Cash" v-model="selectedPaymentOptions"> Cash
  </label>

  <label class="checkbox-item">
    <input type="checkbox" name="paymentOption" value="Cheque" v-model="selectedPaymentOptions"> Cheque
  </label>

  <label class="checkbox-item">
    <input type="checkbox" name="paymentOption" value="Bank Deposit" v-model="selectedPaymentOptions"> Bank Deposit
  </label>

  <label class="checkbox-item">
    <input type="checkbox" name="paymentOption" value="Online Payment System" v-model="selectedPaymentOptions"> Online Payment System
  </label>

  <label class="checkbox-item">
    <input type="checkbox" name="paymentOption" value="Other" v-model="selectedPaymentOptions"> Other
  </label>
</div>
<div v-if="selectedPaymentOptions.includes('Other')" class="group">
  <label for="phone">Describe the other  method of payment:</label>
  <input required="" type="text" id="rent" class="input">
  <span class="highlight"></span>
  <span class="bar"></span>
  <p>(e.g. Money order)</p>
</div>

  <div class="button-container">
 <router-link to="/GuarantorInfo">
     <button type="button" class="btn btn-light">BACK</button>
 </router-link>
 <router-link to="/propertyUse">
      <button type="button" class="btn btn-success"> 
        SAVE & CONTINUE   
      </button>
 </router-link>
<router-link to="/propertyUse">
      <p>Skip this step for now</p>
</router-link>
  </div>


      <div class="card">
        <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">Are there rules about how much to charge for rent?</div>
            <div class="tooltip-content">
               Different states and territories have different laws about rent control, and some may have different laws for different cities. Different states may also have different rules about charging "fair rent," how to calculate fair rent, and how much rent a landlord may charge if a local rent control authority has determined the fair rent. <br>
              You should ensure that you know the rules about "fair rent" for your area to determine how much you can charge for rent.
            </div>
      </div>
      </div>
      </div>
      </div>
</div>
</template>

<script> 
export default{
  data() {
    return {
      selectedPaymentOptions: [],
      rentFrequency: 'Monthly', 
    };
  },
  computed: {
    rentLabel() {
      // Generate label based on selected rent frequency
      switch (this.rentFrequency) {
        case 'Weekly':
          return '$ Weekly Rent Pay';
        case 'Every 2 weeks':
          return '$ Biweekly Rent Pay';
        case 'Monthly':
          return '$ Monthly Rent Pay';
        case 'Annually':
          return '$ Annual Rent Pay';
        default:
          return '$ Monthly Rent Pay';
      }
    },
  },
  methods: {
    updateRentFrequency(frequency) {
      // Update the selected rent frequency
      this.rentFrequency = frequency;
    },
  },
};

</script>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; 
    margin-left: 120px; 
    padding: 15px; 
    width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; 
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; 
    position: relative; 
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.container {
    padding:30px;
    font-family: 'Inter', sans-serif;
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
}
.content p{
    margin-bottom:-12px;
    font-size:22px;
    color:#333333;
    margin-top:-10px;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:50px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 13px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color:#616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  
.card {
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:850px;
    position:absolute;
    top:400px;
    padding:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
    
  }
  
  .button button {
    display:flex;
    padding:10px;
    margin-bottom: -10px; 
    box-shadow: none;
    padding: 20px 20px 20px 0px;
    width:300px;
    height:65px;
    text-align: left;
    z-index: 1;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:30px;
    font-size:22px;
    color:#4d4d4d;
  }
  .button button img{
    width:50px;
    height:50px;
    margin-top:-15px;
    margin-left:10px;
  }
  .button button:active {
    border-color:  #616194; 
  }
  .p{
    color:#333333;
    margin-left:190px;
    font-size:30px;
  }

  .group {
    position: relative;
    margin-left:192px;
    margin-top:20px;
    font-size:18px;
    color:#333333;
   }
   .group p{
    font-style:italic;
    font-size:14px;
    color:#4d4d4d;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label for phone,email,name{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
   
   }
  .bar {
    position: relative;
    display: block;
    width: 550px;
   }
  
.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-left:180px;
}
.check p{
    margin-left:180px;
    font-size:20px;
    color:#333333;
}

.checkbox-item {
    margin-bottom: 8px;
    color:#4d4d4d;
}
.group {
  position: relative;
  margin-left:192px;
  margin-top:20px;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 label for hours{
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
 
 }
 

 .bar {
  position: relative;
  display: block;
  width: 550px;
 }

</style>