<template>
  <div>
    <div class="container1">
      <div class="content1">
        <p>Rental Details</p><br>
      </div>
      <div class="date">
        <div class="startdate">
          <label>Date rental Starts:</label><br>
          <Datepicker :date="startDate"></Datepicker>
        </div>
      </div>
      <div class="rental">
        <p>The Rental:</p><br>
      </div>
      <div class="button2">
        <button @click="handleShowSetEndDate()" :class="{ selected: tenantMoveInBeforeLease }">
          <img src="../assets/Prac/StartDate.png" alt="Start Date" />
          <p>
            Ends on a set date
          </p>
        </button><br>
        <button @click="handleShowNoEndDate()" :class="{ selected: tenantMoveInBeforeLease }">
          <img src="../assets/Prac/EndsOn.png" alt="Start Date" />
          <p>
            Has no set end date
          </p>
        </button>
      </div><br>

      <div v-if="showNoEndDate">
        <div class="rental">
          <p>Type of renewal:</p><br>
        </div>
        <div class="button2">
          <div class="renewal">
            <button @click="showMonthly" :class="{ selected: renewalType === 'monthly' }">
            
              <p>
                Monthly
              </p>
              </button>
          </div>
         <br>
          <div class="renewal">
              <button @click="show11Months" :class="{ selected: renewalType === '11Months' }">
            <p>
              11 months
            </p>
          </button>
          </div><br>
          <div class="renewal">
          <button @click="showYearly" :class="{ selected: renewalType === 'yearly' }">
            <p>
              Yearly
            </p>
          </button>
        </div>
      </div>
      </div>

      <div v-if="showSetEndDate">
        <div class="date2">
        <div class="enddate">
          <label>Date rental Ends:</label><br>
          <Datepicker :date="endDate"></Datepicker>
        </div>
      </div>
      </div>
      <div class="card">
    <div class="card-body">
        <div class="card-title">Frequently Asked Questions ?</div>
        <div class="faq">
            <div class="question">What are the types of tenancies?</div>
            <div class="tooltip-content">
                <b>Ends on a set date (Fixed Term)</b> - A fixed term rental ends on a specific date and doesn't usually require notice to terminate the rental. <br>
<b>Has no set end date (Automatic Renewal) </b>- A rental that will renew automatically every month or year. This type of rental will continue until a party chooses to terminate the rental. <br>
            </div>
        </div>
        <div class="faq">
            <div class="question">Why does it matter whether the rental agreement ends on a set end date?</div>
            <div class="tooltip-content">
               If the rental agreement term ends on a set end date, you will be entering into a fixed term rental agreement. <br>

If the rental agreement does not end on a set end date, you will be entering into an automatically renewing rental agreement which will continue to renew until one party terminates the rental agreement.
            </div>
        </div>
    </div>
</div>


      <!-- <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequently Asked Questions ?</h5>
          <a href="#" class="card-link">What are the types of tenancies?</a><br>
          <a href="#" class="card-link">Why does it matter whether the rental agreement ends on a set end date?</a><br>
          <a href="#" class="card-link">What happens if the tenant leaves early?</a>
        </div>
      </div> -->
      <div class="end" >
        <p>Tenant gets to move in before the start of the lease?</p>
        <div class="buttons">
          <button type="button" class="btn btn-light1" @click="setTenantMoveInBeforeLease(true)" :class="{ selected: tenantMoveInBeforeLease  }">YES</button>
          <button type="button" class="btn btn-light1"  @click="setTenantMoveInBeforeLease(false)" :class="{ selected: !tenantMoveInBeforeLease }">NO</button>
        </div>
      </div>
      <div class="date3" v-if="showNoEndDate && tenantMoveInBeforeLease && (showNoEndDate || showSetEndDate)">
        <label>Possession date:</label><br>
        <Datepicker :date="possessionDate"></Datepicker>
      </div>
    </div>
    <div class="button-container">
<router-link to="/PropertyLocation"><button type="button" class="btn btn-light">BACK</button></router-link>

<router-link to="/PropertyAddress">
        <button type="button" class="btn btn-success">
        SAVE & CONTINUE
      </button>
</router-link>
<router-link to="/PropertyAddress">
        <p>Skip this step for now</p>
</router-link>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vue-datepicker';
import moment from "moment"

export default {
  components: {
    Datepicker,
  },
  data() {
    return {
      startDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      endDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      possessionDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      showSetEndDate: false,
      showNoEndDate: false,
      tenantMoveInBeforeLease: false,
      renewalType: '',
    };
  },
  methods: {
    handleShowSetEndDate() {
      this.showSetEndDate = true;
      this.showNoEndDate = false;
      this.tenantMoveInBeforeLease = false;
    },
    handleShowNoEndDate() {
      this.showSetEndDate = false;
      this.showNoEndDate = true;
    },
    showMonthly() {
      // Handle logic for Monthly renewal
      this.renewalType = 'monthly';
    },
    show11Months() {
      // Handle logic for 11 months renewal
      this.renewalType = '11Months';
    },
    showYearly() {
      // Handle logic for Yearly renewal
      this.renewalType = 'yearly';
    },
    setTenantMoveInBeforeLease(value) {
      this.tenantMoveInBeforeLease = value;
      if (value && (this.showSetEndDate || this.showNoEndDate)) {
        this.showNoEndDate = true;
      } else {
        this.showNoEndDate = false;
      }
    },
  },
};
</script>

<style scoped>
/* Add your component-specific styles here */
</style>

<style scoped>
.tooltip-content {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px; /* Adjust as needed */
    margin-left: 120px; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    width: 500px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    z-index: 1;
}

.faq:hover .tooltip-content {
    max-height: 200px; /* Adjust as needed */
    opacity: 1;

}
.faq:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #88ABAC;
    position: absolute;
    bottom: 0;
    left: 0;
}

.faq {
    margin-bottom: 20px; /* Adjust as needed */
    position: relative; /* Needed for absolute positioning */
}


.question {
    cursor: pointer;
    font-size: 19px;
    color: #88ABAC;
}

.card-body {
    position: relative;
}
.container1{
    padding:30px;
    margin-left:200px;
    font-family: 'Inter', sans-serif;
}
.content1{
    font-size:30px;
}
.container1 label{
    color:#737774;
    font-size: 15px;
}
.date{
    margin-top:-30px;
    line-height:40px;
}
.buttons {
    display: flex;
    gap: 30px;
    padding:10px;
 
  }
  .buttons button {
    width: 120px; 
    min-height:55px;
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
.button-container {
    display: flex;
    gap: 8px; 
    margin-left:240px;
    }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 13px 34px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
    padding:13px 34px;
  }

.card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    margin-left:600px;
    position:absolute;
    top:400px;
    padding:20px;
    line-height: 25px;
    font-size:15px;
  }
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:5px;
  }
  
  .card-link {
    color: hwb(114 19% 49%); 
    text-decoration: underline;
    
  }
  .card-link:hover {
    text-decoration: underline;
  }
  .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    height:10px;
    
 
  }

  .button2 {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button2 button {
    display:flex;
    margin-bottom: 10px; 
    width: 390px; 
    min-height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
    padding:10px;
  }
  .button2 p{
    margin-top:30px;
    margin-left:10px;
    font-size:20px;
  }
  .button2 button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .button2 button img{
    width:50px;
    height:50px;
    margin-top:15px;

  }
  .startdate label {
    color:hwb(114 19% 49%); 
    font-style:inherit;
    font-size: 20px;
  }
  .enddate label {
    color:hwb(114 19% 49%); 
    font-style:inherit;
    font-size: 20px;
    margin-top:-10px;
  }
  .date3 label {
    color:hwb(114 19% 49%); 
    font-style:inherit;
    font-size: 20px;
  }
  .rental p{
    font-size:20px;
  }
  .selected {
    border: 4px solid #616195;
  }
  .renewal button{
    width:250px;
    min-height:5px;
  }
  .end p{
    font-size:20px;
  }

  
</style>