<template>
    <div>
        <div class="container">
        <div class="content">
            <p>
                Signing Details
            </p>
            <div class="p">
                <p>When will the rental agreement be signed?</p>
            </div><br>
        <div class="button">
            
            <button @click="handleButtonClick('Unsure')">
              <img src="../assets//Prac/Unsure.png" />
                <p>
                    Unsure
                </p>
            </button><br>
            <button @click="handleButtonClick('Specify Date')">
              <img src="../assets//Prac/SpecifyDate.png" /> 
              <p>
                    Specify Date
                </p>
            </button>
        </div>
        </div>
        <div v-if="showDate" class="date">
          <div class="startdate">
            <Datepicker :date="startDate"></Datepicker>
          </div>
        </div>
        <div class="sign">
            <div class="p">
                <p>Include space to print your Residential Rental Agreement on stamp paper?</p>
            </div><br>
            <div class="buttons">
                <button type="button" class:selected class="btn btn-light1">YES</button>
                <button type="button" class:selected class="btn btn-light1">NO</button>
            </div>
        </div>
        </div>
       
  <div class="button-container">
<router-link to="/AdditionalClauses">
          <button type="button" class="btn btn-light">BACK</button>
</router-link>
<router-link to="/DownloadInfo">
  <button type="button" class="btn btn-success">SAVE & CONTINUE</button>
</router-link>
<router-link to="/DownloadInfo">
         <p>Skip this step for now</p>
</router-link>
  </div>
</div>

</template>

<script> 
import Datepicker from 'vue-datepicker';
import moment from "moment"
export default{
  components: {
    Datepicker,
  },
  data() {
    return {
      startDate: {
        time: moment().format('YYYY-MM-DD HH:mm')
      },
      showDate: false, 
    }
  },
  methods: {
    handleButtonClick(buttonText) {
      // Update the showDate property based on the button clicked
      this.showDate = buttonText === 'Specify Date';
    },
  },


};

</script>

<style scoped>
.container {
    padding:30px;
    font-family: 'Inter', sans-serif;
}
.content{
    padding:10px;
    line-height: 40px;
    margin-left:180px;
    color:#333333;
    font-size:30px;
}
.content p{
    margin-bottom:-12px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
    margin-left:190px;
    margin-top:-30px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(96, 151, 13);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }

/* styles.css */
.button-container {
    display: flex;
    gap: 20px;
    margin-top:-30px;
    margin-left:80px;
  }
  .button-container p{
    color:#616195;
    font-size:22px;
  }
.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-light {
    background-color: #c1c4c8;
    color: #212529;
    margin-left:180px;
  }
  
  .btn-success {
    background-color: #616195;
    color: #fff;
  }
  .total{
    margin-left:180px;
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    width: 250px; 
    height:38px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:-5px;
    margin-left:15px;
    font-size:15px;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    color:#333333;
    font-size:18px;
  }
  .buttons {
    display: flex;
    gap: 30px;
    padding:10px;
    margin-left:-10px;
  }
  .buttons button {
    width: 120px; 
    height: 45px; 
  }
  .buttons p{
    color:#4d4d4d;
  }
  .buttons button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .button {
    display: flex;
    flex-direction: column;
    margin-top:-10px;
  }
  
  .button button {
    margin-bottom: 10px; 
    display:flex;
    padding:10px;
    width: 390px; 
    height:80px;
    border-radius:5px;
    border: 1px solid #ccc;
  }
  .button p{
    margin-top:15px;
    margin-left:35px;
    font-size:20px;
    color:#4d4d4d;
  }
  .button button img{
    width:50px;
    height:50px;
  }
  .button button:active {
    border-color:  hwb(114 19% 49%); 
  }
  .p{
    color:black;
    font-size:18px;
  }
  .sign {
    margin-left:180px;
    font-size:20px;
  }
  .sign p{
    font-size:22px;
    margin-top:10px;
    color:#333333;
  }
  .date{
    margin-left:200px;
  }
  .buttons button.selected {
    border: 4px solid #616195;
  }
</style>