<template>
   <div>
     <div class="footer">
         <div class="images">
           <img :src="require('@/assets/Prac/Trust.png')" alt="First Image" style="width: 100px; height: 50px;">
          <img :src="require('@/assets/Prac/vs.png')" style="width: 110px; height: 30px; margin-bottom:10px">
         </div>
    </div>

   
        <p class="paragraph">
            Your use of this site is subject to our Terms of Use, Disclaimer, Privacy Policy and Editorial Policy. LawDepot® is not a law firm and cannot provide legal advice. We provide information and software and you are responsible for appropriately using this material. ©2002-2024 LawDepot® (Sequiter Inc.). All Rights Reserved. This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
        </p>
  
   </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.footer {
    background-color: rgba(217, 217, 217, 0.25);
    display: flex;
    justify-content: flex-end;
    padding: 10px; /* Adjust the padding as needed */
}
.paragraph{
  background-color: rgba(217, 217, 217, 0.75);
  padding: 74px;
  text-align: center; 
   margin-top: 0;
}
.images{
  padding: 20px;
      margin-right: 26%;
}
.images img {
    margin-right:31px; /* Add margin between the images */
}
</style>