<template>
    <div>
        <div class="nav">
            <div class="navbar-top">
                <ul>
                    <li>HELP</li>
                    <li>Map</li>
                    <li>Create free Account</li>
                    <li>Sign In</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="content">
                <div class="heading">FREE RESIDENTIAL RENTAL AGREEMENT</div>
                <div>
                    <ul>
                        <li><button :class="{ active: selected === 'general' }" @click="select('general')">General</button></li>
                        <li><button :class="{ active: selected === 'property' }" @click="select('property')">Property</button></li>
                        <li><button :class="{ active: selected === 'parties' }" @click="select('parties')">Parties</button></li>
                        <li><button :class="{ active: selected === 'terms' }" @click="select('terms')">Terms</button></li>
                        <li><button :class="{ active: selected === 'final-details' }" @click="select('final-details')">Final Details</button></li>
                        <li><button :class="{ active: selected === 'signing' }" @click="select('signing')">Signing</button></li>
                        <li><button :class="{ active: selected === 'print-download' }" @click="select('print-download')">Print/Download</button></li>
                    </ul>
                </div>
               <div class="progress-container">
          <div class="progress">
            <div class="pro-2" :style="{ height: 70.01 }"></div>
          </div>
        </div>
            </div>
        </div>
        <!-- <el-button-group>
            <el-button :icon="Minus" @click="decrease" />
            <el-button :icon="Plus" @click="increase" />
        </el-button-group> -->
    </div>
</template>
<script>
import { ref } from 'vue'

export default {
    setup() {
        
        const percentage = ref(20)
        const selected = ref('general')

        const select = (section) => {
            selected.value = section
        }

        return {
            percentage,
            selected,
            select
        }
    }
}
</script>

<style scoped>
.bottom {
    color: white;
    background-color: #505087;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.content {
    text-align: left;
    margin-left: 200px; 
}

.bottom ul li button:hover {
    color: white;
}
.progress-container {
    margin-left: auto; 
}

.bottom ul li button.active {
background-color: #393b44;
border-radius: 5px;
    color: white;
}

.progress {
    position: relative; /* Ensure relative positioning for the parent */
    height: 16px; /* Fixed height for the progress bar */
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #393b44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1px 60px 1px 0;
    margin-left: 16px;
}

.pro-2 {
    position: absolute; 
    top: -14px; 
    left: 0; 
    border-radius: 3px;
    background-color: white; 
    width: 5%;
    height: 87%;
   
}
.progress-container {
  margin-left: 0px; 
}

.navbar-top {
    position: relative;
    font-weight: 550;
}

.navbar-top ul {
    list-style-type: none; 
    padding: 13px;
    text-align: right;
}

.navbar-top ul li {
    display: inline; 
    padding: 37px;
    padding-bottom: 30px;
}

.navbar-top ul li:not(:last-child) {
    border-right: 1px solid #000;
}


.bottom div {

    color: #ccc;
}

.bottom div:first-child {
    margin-bottom: 20px; 
    margin-top: 15px;
    font-size: 26px;
    color: white;
}
.nav{
    font-style: 'Inter';
}

.bottom ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.bottom ul li {
    margin-bottom: 10px; 
    padding: 15px;
}

.bottom ul li button {
    padding: 10px 20px;
    background-color: inherit; 
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ccc;
}

.bottom ul li button:focus {
    outline: none; 
}

.heading {
    color: white;
        margin-left: 19px;
}
</style>
